html {
  scroll-behavior: smooth;
}
body {
  font-family: Mukta, Arial;
  margin: 0 auto;
  height: 1650px;
  background-color: #2d2d2d;
  color: #ccc;
  padding: 32px 20px;
  margin-inline: auto;
  width: min(90%, 595.2px);
}
