header{
  display: flex;
  justify-content: center;
  text-align: center;
}
h1{
  flex: 1;
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 24px;
  color: #DBDBDB;
}
h2{
  font-size: 27.2px;
  color: #DBDBDB;
  margin-bottom: 12.8px;
  margin-top: 48px;
}